SROS_DATABASE_ENABLED=false
SROS_DATABASE_DRIVER=postgres
SROS_DATABASE_URL=postgres://sros:sros@localhost:54329/sros_v2?sslmode=disable
SROS_DATABASE_MIGRATIONS_DIR=./migrations
SROS_DATABASE_SCHEMA=public
